
/*GENERAL [0]*/
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
li{
	display: inline-block;
	font-size: 12px;
}
a{
	color: #fff;
}
a:hover{
	color: #fff;
}
li>a{
	color: #000;
}
li>a:hover{
	color: #000;
}
#sideBar,
#blog{
	height:400px;
}#sideBar{
	background-image: url("https://raw.githubusercontent.com/marleyva233/blogtheme/master/img/pinkflowers.jpg");
	background-size: cover;
	background-position: top right;
	background-color:#DADFDD; 
}
#sideBar ul{
	background-color: rgba(255, 255, 255, 0.5);
	color:#fff;
}
#blog{
	background-color:#ECCED1;
}
#blog h6, h6{
	font-weight: bold;
	font-family: 'Petit Formal Script', cursive;
	text-align: center;
}
#blog p{
	font-size: 14px;
	text-indent: 10px;
}
#sideBar li{
	display: block;
}
footer{
	padding-top: 5%;
	font-size: 12px;
}